
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(18,18,18,255);
    color: white;
    margin: 0;
    padding: 0;
}


h2, h3 {
    text-align: center;
}

.main {
	padding-bottom: 5%;
}

.tableau {
	max-width: 800px;
    margin: 0 auto;
    background-color: rgb(40,36,36);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(192, 192, 192) ;
    color: white; 
}

#img {
	display: flex;
    justify-content: center;
    padding-bottom: 2%;
}
table {
	display: flex;
	text-align: center;
    justify-content: center;
    background-color: rgb(40,36,36);
    padding: 10px;
   	border-radius: 8px;
   	border-color: #fd4040;
}

.retrait {
	display: flex;
	justify-content: center;
}
#retrait {
	width: 40%;
	
}
  th, td {
    border: none; /* Couleur de la bordure verte */
    border-radius: 8px; 
    padding: 10px; /* Ajoutez un peu de rembourrage pour l'espace intérieur */
  }

  th {
    background-color: rgb(40,36,36); /* Couleur de fond verte pour les en-têtes */
    color: #fd4040; /* Couleur du texte blanc pour les en-têtes */
  }

#accueil {
	padding: 20px;
	display: flex;
	justify-content: center;
}
button {
    background-color: #fd4040;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(128, 0, 0);
}
