@charset "UTF-8";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
}