
body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(18,18,18,255);
    margin: 0;
    padding: 0;
}


h2 {
    text-align: center;
    color: white 
}

.main {
	padding-bottom: 5%;
}

.enchere-form {
    max-width: 400px;
    margin: 0 auto;
    background-color:rgb(40,36,36);
    padding: 40px;
    color: white;
    border-radius: 8px;
   box-shadow: 0 0 10px rgb(192, 192, 192) ;
}

label{
    display: block;
    margin: 10px 0 5px;
    color: white;
}


textarea {
	width: 100%;
	height: 80px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    background-color: grey;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    background-color: grey;
}

button {
      background-color: #fd4040;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

button, input[type="button"] {
    display: inline-block;
    margin-right: 100px;
    width: 100%;
    margin-top:50px;
}

button[type="button"] {
	border: 1px solid #fd4040;
    background-color: rgb(40,36,36);
	margin-top: 10px;
	color: #fd4040;
}

button[type="submit"] {
    width: 100%;
}



.error-message {
    color: red;
    margin-top: 10px;
}


