/* Contenu de styleregister.css */
body {
    text-align: center; /* Aligner le texte au centre dans le corps de la page */
}

h2 {
    margin-top: 0; /* Supprimer la marge par défaut du titre h2 */
    text-align: center; /* Centrer le titre h2 */
}
